body {
  background-color: bisque;
}
.blue {
  background-color: rgb(134, 185, 230);
}
.button1 {
  border: none;
  text-align: center;
  font-size: 16px;
  width: 200px !important;
  margin-top: 30px;
  height: 40px;
  margin-bottom: 30px;
}
footer {
  padding-top: 10px;
}
.table1 {
  padding-top: 20px;
}
.table1 table {
  width: 80%;
}
